.main-nav {
  position: fixed;
  z-index: 2;
  font-family: "DynaPuff", "Arial";
  font-weight: 400;
  font-size: 0.875em;
  background-color: $red;
  color: white;
  width: 74px;
  // width: 412px;
  height: 100vh;
  padding: 0 0 0 0;
  filter: $drop-shadow-3;
  transition: all ease 200ms;

  &:hover {
    cursor: pointer;
  }
  &-clicked {
    width: 412px;
    transition: all ease 200ms;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all ease 200ms;

    &-clicked {
      gap: 100px;
      justify-content: space-evenly;
      transition: all ease 250ms;
    }

    .logo-container {
      text-align: center;
      p {
        font-size: 1.25em;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
    }

    &-logo {
      width: 49px;
      padding-bottom: 48px;
      transition: all ease 200ms;

      &-clicked {
        padding-bottom: 0;
        width: 81.67px;
        transition: all ease 200ms;
      }
    }

    .nav-links-container {
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      display: flex;
      flex-direction: row-reverse;
      gap: 11px;
      align-items: end;
      margin-bottom: 11px;
    }
    .nav-link-icons {
      width: 26.33px;
    }
  }

  .add-task-icon {
    width: 63.97px;
  }
}

@media screen and (max-width: 500px) {
  .main-nav {
    filter: none;
    bottom: -45px;
    border-radius: 80px 80px 0 0;
    height: 105px;

    width: 110vw;
    left: 50%;
    transform: translateX(-50%);

    &-content {
      flex-direction: row;

      .nav-links-container {
        flex-direction: row;
        width: inherit;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 4vh;

        a {
          margin: 0;
        }

        .nav-link-icons {
          padding-bottom: 1vh;
          width: 43px;
          margin: 0;
        }
        .two {
          img {
            width: 91px;
            margin-bottom: 1.5em;
          }
        }
      }

      .logo-container {
        display: none;
      }
    }
  }
}
