.task {
  position: relative;

  // .order-3 {
  //   width: 100%;
  //   height: 100%;
  // }

  .task-option-popup {
    background-color: white;
    color: $dark-brown;
    filter: $drop-shadow-2;
    width: 168px;
    height: 140px;
    position: absolute;
    top: 0;
    right: 0;
    top: 25px;
    z-index: 2000;
    border-radius: 6px;
  }

  .options-icon-container {
    width: 100%;
    height: 100%;
    gap: 2px;

    &:hover {
      cursor: pointer;
    }

    .optionsIcon {
      background-color: red;
      width: 6px;
      height: 5.5px;
      margin-bottom: 57px;
      border-radius: 100px;
      z-index: 2000;
    }
  }
}
.task-container {
  height: 71vh;
  display: flex;
  flex-direction: column;
  padding: 43px 0px 0px 0px;
  row-gap: 28px;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-color: #ff000000 #ffa50000;

  // animations
  // margin-top: -110px;\
  // opacity: 0;
  // transition-property: all;
  // transition-duration: 300ms;
}

.task-flex {
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  #task-checkbox {
    margin-right: 11px;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 6px solid;
    border-radius: 50px;
    cursor: pointer;

    &.red:checked {
      background-color: $red;
    }
    &.green:checked {
      background-color: $green;
    }
    &.orange:checked {
      background-color: $orange;
    }
  }
}

#task {
  // filter: $drop-shadow-2;
  filter: none;

  width: 300px;
  // height: 80px;
  height: max-content;
  border-radius: $small-radius;

  padding: 26px 31px;
  background-color: white;
  align-items: end;

  .task-text {
    flex-grow: 1;
    order: 2;
    align-self: flex-start;

    .task-times {
      color: $lighter-brown;
      font-family: "Acumin", "Arial";
      font-weight: 700;
      letter-spacing: 0.5px;
      font-size: 0.6875em;
    }

    .task-title {
      font-family: "DynaPuff";
      font-weight: 400;
      letter-spacing: -0.08px;
    }
  }

  .priority-gauge-high {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: inherit;
    gap: 3px;

    .one {
      content: "";
      width: 23px;
      height: 15px;
      background-color: $red;
      display: inline-block;
      order: 1;
      border-radius: 10px;
      margin-right: 26px;
    }

    .two {
      content: "";
      width: 23px;
      height: 9px;
      background-color: $red;
      display: inline-block;
      order: 1;
      border-radius: 7px;
      margin-right: 26px;
    }
    .three {
      content: "";
      width: 23px;
      height: 6px;
      background-color: $red;
      display: inline-block;
      order: 1;
      border-radius: 8px;
      margin-right: 26px;
    }
  }
  .priority-gauge-medium {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: inherit;
    gap: 3px;

    .one {
      content: "";
      width: 23px;
      height: 15px;
      background-color: $orange;
      display: inline-block;
      order: 1;
      border-radius: 10px;
      margin-right: 26px;
    }

    .two {
      content: "";
      width: 23px;
      height: 9px;
      background-color: $orange;
      display: inline-block;
      order: 1;
      border-radius: 7px;
      margin-right: 26px;
    }
  }
  .priority-gauge-low {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: inherit;
    gap: 3px;

    .one {
      content: "";
      width: 23px;
      height: 15px;
      background-color: $green;
      display: inline-block;
      order: 1;
      border-radius: 10px;
      margin-right: 26px;
    }
  }

  .task-tags {
    order: 3;
  }
}

// -----Media Queries
// phone screens
@media screen and (max-width: 500px) {
  .task-container {
    // position: absolute;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
