@import 'react-calendar/dist/Calendar.css';
@font-face {
  font-family: "Acumin";
  src: url("./fonts/Acumin.ttf");
}
body {
  color: #5c0423;
  font-family: "Acumin";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: none;
  overscroll-behavior-y: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: none;
  overflow-x: hidden;
  position: relative;
  background-color: #f7f5f5;
}

a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: inherit;
}

body {
  font-family: "Acumin";
  margin: 0 auto;
}

section {
  padding: 100px 80px 0 80px;
}

.container {
  padding-left: 44px;
}

h1,
h2 {
  font-family: "DynaPuff", "Arial", "Sans-Serif";
}

.m-0 {
  margin: 0;
}

.order-3 {
  order: 3;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.position-relative {
  position: relative;
}

.position-sticky {
  position: sticky;
}

.align-center {
  text-align: center;
}

.active {
  opacity: 100%;
}

.inactive {
  opacity: 30%;
}

.active-red {
  color: #e30547;
}

.active-brown {
  color: #5c0423;
}

.inactive-brown {
  opacity: 30%;
}

.green {
  color: #7adc2a;
  filter: brightness(0) saturate(100%) invert(78%) sepia(55%) saturate(445%) hue-rotate(41deg) brightness(100%) contrast(92%);
  border-color: #7adc2a;
}

.red {
  color: #e30547;
  filter: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(7073%) hue-rotate(337deg) brightness(89%) contrast(99%);
  border-color: #e30547;
}

.orange {
  color: #ff6e30;
  filter: brightness(0) saturate(100%) invert(49%) sepia(56%) saturate(1993%) hue-rotate(340deg) brightness(104%) contrast(101%);
}

@media screen and (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }
  header,
  section {
    display: block;
    margin: 0 auto;
  }
  .container {
    padding: 0;
  }
}
.main-nav {
  position: fixed;
  z-index: 2;
  font-family: "DynaPuff", "Arial";
  font-weight: 400;
  font-size: 0.875em;
  background-color: #e30547;
  color: white;
  width: 74px;
  height: 100vh;
  padding: 0 0 0 0;
  filter: drop-shadow(0px 7px 4px rgba(92, 4, 35, 0.4549019608));
  transition: all ease 200ms;
}
.main-nav:hover {
  cursor: pointer;
}
.main-nav-clicked {
  width: 412px;
  transition: all ease 200ms;
}
.main-nav-content {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all ease 200ms;
}
.main-nav-content-clicked {
  gap: 100px;
  justify-content: space-evenly;
  transition: all ease 250ms;
}
.main-nav-content .logo-container {
  text-align: center;
}
.main-nav-content .logo-container p {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.main-nav-content-logo {
  width: 49px;
  padding-bottom: 48px;
  transition: all ease 200ms;
}
.main-nav-content-logo-clicked {
  padding-bottom: 0;
  width: 81.67px;
  transition: all ease 200ms;
}
.main-nav-content .nav-links-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-nav-content a {
  display: flex;
  flex-direction: row-reverse;
  gap: 11px;
  align-items: end;
  margin-bottom: 11px;
}
.main-nav-content .nav-link-icons {
  width: 26.33px;
}
.main-nav .add-task-icon {
  width: 63.97px;
}

@media screen and (max-width: 500px) {
  .main-nav {
    filter: none;
    bottom: -45px;
    border-radius: 80px 80px 0 0;
    height: 105px;
    width: 110vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-nav-content {
    flex-direction: row;
  }
  .main-nav-content .nav-links-container {
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4vh;
  }
  .main-nav-content .nav-links-container a {
    margin: 0;
  }
  .main-nav-content .nav-links-container .nav-link-icons {
    padding-bottom: 1vh;
    width: 43px;
    margin: 0;
  }
  .main-nav-content .nav-links-container .two img {
    width: 91px;
    margin-bottom: 1.5em;
  }
  .main-nav-content .logo-container {
    display: none;
  }
}
header #main-header {
  height: 231px;
  background-color: white;
}
header #main-header .header-month img:hover {
  cursor: pointer;
}
header #main-header .header-text {
  opacity: 73%;
}
header #main-header .header-text h1 {
  font-family: "DynaPuff";
  font-size: 1.875em;
}
header #main-header .header-text p {
  font-stretch: condensed;
}
header #main-header .header-text span {
  font-family: "acumin";
  font-weight: normal;
  font-stretch: condensed;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 20px;
  }
  .css-b62m3t-container {
    order: 1;
  }
  .header-container header #main-header {
    height: -moz-max-content;
    height: max-content;
    justify-content: center;
    margin: 39px 29px 33px 29px;
    align-items: center;
    width: none;
  }
  .header-container header #main-header .header-text {
    display: none;
  }
  .header-container header #main-header .header-month .month-head span {
    width: 13.875rem;
    height: 2.1875rem;
    order: 1;
    font-size: 0.875em;
  }
  .header-container header #main-header .header-month .month-head .flex {
    gap: 17px;
  }
}
@media screen and (min-width: 900px) {
  .header-container header #main-header {
    padding: 67px 80px 0 80px;
  }
  .header-container header .h-120 {
    height: 120px !important;
  }
}
.date-scroll {
  font-family: "DynaPuff";
  align-items: center;
  font-weight: normal;
  font-size: 1.625em;
  color: #5c0423;
}
.date-scroll h1 {
  font-size: 1.625em;
  color: #e30547;
  padding-bottom: 32px;
}
.date-scroll .day-container {
  flex: 1 0 0;
  padding: 0 20px;
  width: 100%;
}
.date-scroll .day-container a:hover {
  color: #e30547;
  opacity: 100%;
}
.date-scroll .day-container .dates {
  opacity: 30%;
  font-weight: 400;
  flex-grow: 1;
}
.date-scroll .day-container .dates span {
  font-size: 0.5em;
}
.date-scroll img {
  opacity: 100%;
}
.date-scroll span {
  font-size: 0.5em;
}
.date-scroll .scroll-left {
  height: 11px;
}
.date-scroll .scroll-right {
  rotate: 180deg;
  float: right;
}
.date-scroll .scroll-right:hover {
  filter: opacity(100%) saturate(100%) invert(18%) sepia(31%) saturate(7468%) hue-rotate(327deg) brightness(100%);
  opacity: 100%;
}

.background {
  background-color: white;
  filter: drop-shadow(0px 1px 2px rgba(45, 45, 45, 0.2078431373));
  padding: 30px 80px 34px 80px;
}
.background .date-scroll-schedule {
  font-family: "DynaPuff";
  align-items: center;
  font-weight: normal;
  font-size: 1.625em;
  color: #5c0423;
}
.background .date-scroll-schedule h1 {
  font-size: 26px;
  color: #e30547;
  padding-bottom: 32px;
  text-transform: uppercase;
}
.background .date-scroll-schedule .day-container {
  flex: 1 0 0;
  padding: 0 20px;
  width: 100%;
}
.background .date-scroll-schedule .day-container a:hover {
  color: #e30547;
  opacity: 100%;
}
.background .date-scroll-schedule .day-container .dates {
  opacity: 30%;
  font-weight: 400;
  flex-grow: 1;
}
.background .date-scroll-schedule .day-container a {
  font-size: 30px;
}
.background .date-scroll-schedule .day-container a span {
  font-size: 14px;
}
.background .date-scroll-schedule img {
  opacity: 100%;
}
.background .date-scroll-schedule span {
  font-size: 0.5em;
}
.background .date-scroll-schedule .scroll-left {
  height: 11px;
}
.background .date-scroll-schedule .scroll-right {
  rotate: 180deg;
  float: right;
}
.background .date-scroll-schedule .scroll-right:hover {
  filter: opacity(100%) saturate(100%) invert(18%) sepia(31%) saturate(7468%) hue-rotate(327deg) brightness(100%);
  opacity: 100%;
}

@media screen and (max-width: 500px) {
  .date-scroll section,
  .date-scroll-schedule section {
    padding-bottom: 33px;
  }
  .date-scroll .day-container .dates,
  .date-scroll-schedule .day-container .dates {
    font-size: 26px;
  }
  .date-scroll .day-container .dates span,
  .date-scroll-schedule .day-container .dates span {
    font-size: 0.45em;
    font-weight: 500;
  }
  .background {
    padding: 0;
    filter: drop-shadow(0px 4px 3px rgba(45, 45, 45, 0.107843));
  }
}
.date-container .header-month {
  font-family: "DynaPuff";
  display: flex;
  justify-content: end;
}
.date-container .header-month .month-head {
  padding-bottom: 12px;
  color: white;
  width: 100%;
}
.date-container .header-month .month-head .flex {
  gap: 27px;
  justify-content: space-between;
}
.date-container .header-month .month-head span {
  text-align: center;
  width: 11.375rem;
  height: 1.4375rem;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #e30547;
  border-radius: 7px;
  flex-grow: 1;
}
.date-container .header-month .month-head img {
  width: 1.3125em;
}

@media screen and (max-width: 500px) {
  .date-container {
    flex-grow: 1;
  }
  .date-container .header-month {
    width: 100%;
  }
}
#timeline {
  transition: all ease 300ms;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f7f5f5;
  height: 73vh;
  width: 99vw;
}
#timeline .grid {
  display: flex;
  grid-template-columns: 60px 85vw;
  grid-template-rows: repeat(24, 87px);
  height: inherit;
}
#timeline .grid .col-1 {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-content(100%);
  row-gap: 20px;
  transition: all ease 300ms;
}
#timeline .grid .col-2 {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: fit-content(100%);
  row-gap: 20px;
  transition: all ease 300ms;
}
#timeline .grid .col-3 {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: fit-content(100%);
  row-gap: 30px;
  transition: all ease 300ms;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
#timeline .grid .grid-border {
  padding-left: 9px;
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.183);
  border-top: solid 0.5px rgba(128, 128, 128, 0.183);
}
#timeline .grid .grid-border:nth-child(1) {
  border-top: solid 2px rgba(128, 128, 128, 0.183);
}
#timeline .grid .schedule-task-container {
  padding: 0 0px 0 75px;
}
#timeline .hours-grid {
  display: flex;
  flex-direction: column;
  height: inherit;
  height: 233vh;
  justify-content: space-between;
  width: 4%;
  color: rgba(138, 101, 113, 0.6588235294);
}
#timeline .hours-grid .schedule-time-column {
  display: flex;
  flex-direction: column;
}
#timeline .hours-grid .schedule-time-column::after {
  content: "";
  border-bottom: solid 1px rgba(128, 128, 128, 0.183);
  border-top: solid 1px rgba(128, 128, 128, 0.183);
  width: 100vw;
  display: inline-block;
  margin: -11px 0 0 80px;
}
#timeline .hours-grid .schedule-time-column {
  color: rgba(138, 101, 113, 0.6588235294);
  font-weight: bold;
}
#timeline .timeline-task {
  font-family: "DynaPuff";
  background-color: rgba(255, 110, 48, 0.7764705882);
  font-weight: 200;
  color: #f8f8f8;
  height: 220px;
  border-radius: 8px;
  border-top: solid 6px #ff6e30;
  padding: 31px 0 0 95px;
  margin: 0 15px;
}
#timeline .timeline-task:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #timeline {
    font-size: 14px;
    padding: 0px 30px 0 30px;
  }
  #timeline .timeline-task {
    text-align: center;
    padding: 0;
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  #timeline .grid .col-2 {
    grid-template-columns: repeat(2, 135px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-left: 25px;
  }
  #timeline .grid .col-3 {
    grid-template-columns: repeat(3, 80px);
    -moz-column-gap: 0px;
         column-gap: 0px;
    -moz-column-gap: 23px;
         column-gap: 23px;
    margin-left: 25px;
  }
  #timeline .grid .hours-grid {
    width: 4%;
  }
  #timeline .grid .hours-grid .schedule-time-column::after {
    width: 74vw;
    margin: -11px 0 0 40px;
  }
  #timeline .grid .schedule-task-container {
    padding: 0 0 0 22px;
  }
}
.css-bz1shz-indicatorContainer {
  justify-content: center;
}

.css-13198h3-control:focus-visible {
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.day-dropdown-menu-container {
  padding: 0;
}

.day-dropdowns {
  justify-content: space-between;
  font-family: "DynaPuff", "Arial";
  font-weight: 600;
  letter-spacing: 10%;
  padding: 0 80px 0px 80px;
  filter: drop-shadow(0px 1px 2px rgba(45, 45, 45, 0.2078431373));
  position: relative;
  z-index: 1;
  background-color: white;
  display: flex;
}
.day-dropdowns .Morning,
.day-dropdowns .Afternoon,
.day-dropdowns .Evening {
  position: relative;
  z-index: 2;
}
.day-dropdowns .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.day-dropdowns .day-container {
  height: 62px;
  flex: 0 0 220px;
  position: relative;
  z-index: 2;
}
.day-dropdowns .day-container .day-container-header {
  position: relative;
  z-index: 2;
}
.day-dropdowns::after {
  background-color: #f7f5f5;
}
.day-dropdowns .day-drop-icon {
  content: "";
  background-image: url("/Mobile-edit-task-priority-icon.svg");
  width: 18px;
  height: 18px;
  margin-top: 10px;
  display: inline-block;
  padding-top: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(-90deg);
}
.day-dropdowns .day-drop-icon-active {
  content: "";
  background-image: url("/Mobile-edit-task-priority-icon.svg");
  width: 18px;
  height: 18px;
  margin-top: 10px;
  display: inline-block;
  padding-top: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(0deg);
}
.day-dropdowns .test {
  color: red;
}
.day-dropdowns .times {
  position: relative;
  padding: 0 0 11px 0;
}
.day-dropdowns .times:hover {
  cursor: pointer;
}
.day-dropdowns .times .day-decor {
  content: "";
  background-color: transparent;
  height: 30px;
  width: 50px;
  display: inline-block;
  align-content: center;
  margin-bottom: 6px;
  border-bottom: 2px dashed #5c0423;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .day-dropdowns {
    height: 80vh;
    background-color: #f7f5f5;
    padding: 25px 29px;
  }
  .day-dropdowns .container {
    flex-direction: column;
  }
  .day-dropdowns .day-container {
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    justify-content: space-around;
  }
  .day-dropdowns .day-container .times {
    border-bottom: solid 2.2px rgba(128, 128, 128, 0.183);
  }
}
.task {
  position: relative;
}
.task .task-option-popup {
  background-color: white;
  color: #5c0423;
  filter: drop-shadow(0px 2px 2.8px rgba(0, 0, 0, 0.2039215686));
  width: 168px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
  top: 25px;
  z-index: 2000;
  border-radius: 6px;
}
.task .options-icon-container {
  width: 100%;
  height: 100%;
  gap: 2px;
}
.task .options-icon-container:hover {
  cursor: pointer;
}
.task .options-icon-container .optionsIcon {
  background-color: red;
  width: 6px;
  height: 5.5px;
  margin-bottom: 57px;
  border-radius: 100px;
  z-index: 2000;
}

.task-container {
  height: 71vh;
  display: flex;
  flex-direction: column;
  padding: 43px 0px 0px 0px;
  row-gap: 28px;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-color: rgba(255, 0, 0, 0) rgba(255, 165, 0, 0);
}

.task-flex {
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.task-flex #task-checkbox {
  margin-right: 11px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 6px solid;
  border-radius: 50px;
  cursor: pointer;
}
.task-flex #task-checkbox.red:checked {
  background-color: #e30547;
}
.task-flex #task-checkbox.green:checked {
  background-color: #7adc2a;
}
.task-flex #task-checkbox.orange:checked {
  background-color: #ff6e30;
}

#task {
  filter: none;
  width: 300px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 20px;
  padding: 26px 31px;
  background-color: white;
  align-items: end;
}
#task .task-text {
  flex-grow: 1;
  order: 2;
  align-self: flex-start;
}
#task .task-text .task-times {
  color: rgba(138, 101, 113, 0.6588235294);
  font-family: "Acumin", "Arial";
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.6875em;
}
#task .task-text .task-title {
  font-family: "DynaPuff";
  font-weight: 400;
  letter-spacing: -0.08px;
}
#task .priority-gauge-high {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  height: inherit;
  gap: 3px;
}
#task .priority-gauge-high .one {
  content: "";
  width: 23px;
  height: 15px;
  background-color: #e30547;
  display: inline-block;
  order: 1;
  border-radius: 10px;
  margin-right: 26px;
}
#task .priority-gauge-high .two {
  content: "";
  width: 23px;
  height: 9px;
  background-color: #e30547;
  display: inline-block;
  order: 1;
  border-radius: 7px;
  margin-right: 26px;
}
#task .priority-gauge-high .three {
  content: "";
  width: 23px;
  height: 6px;
  background-color: #e30547;
  display: inline-block;
  order: 1;
  border-radius: 8px;
  margin-right: 26px;
}
#task .priority-gauge-medium {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  height: inherit;
  gap: 3px;
}
#task .priority-gauge-medium .one {
  content: "";
  width: 23px;
  height: 15px;
  background-color: #ff6e30;
  display: inline-block;
  order: 1;
  border-radius: 10px;
  margin-right: 26px;
}
#task .priority-gauge-medium .two {
  content: "";
  width: 23px;
  height: 9px;
  background-color: #ff6e30;
  display: inline-block;
  order: 1;
  border-radius: 7px;
  margin-right: 26px;
}
#task .priority-gauge-low {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  height: inherit;
  gap: 3px;
}
#task .priority-gauge-low .one {
  content: "";
  width: 23px;
  height: 15px;
  background-color: #7adc2a;
  display: inline-block;
  order: 1;
  border-radius: 10px;
  margin-right: 26px;
}
#task .task-tags {
  order: 3;
}

@media screen and (max-width: 500px) {
  .task-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.css-bz1shz-indicatorContainer,
.css-bz1shz-indicatorContainer:active {
  padding: 0 !important;
}

.add-task-modal {
  position: absolute;
  width: 500px;
  height: 100vh;
  background-color: #e30547;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  margin: 0 auto;
  padding: 0 8%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  filter: drop-shadow(-3px -1px 2.5px rgba(92, 4, 35, 0.4392156863));
  transform: translateX(105.6vw);
  transition: all cubic-bezier(0.17, 0.13, 0, 1) 500ms;
  cursor: pointer;
}
.add-task-modal-icon {
  content: url("/desktop-add-task-icon.svg");
  position: absolute;
  left: -47px;
}
.add-task-modal .form-container {
  margin-top: 50px;
}
.add-task-modal h2 {
  margin-bottom: 62px;
  letter-spacing: 15%;
}
.add-task-modal-form-groups {
  gap: 14px;
  width: 280px;
  align-items: self-end;
}
.add-task-modal form label {
  font-size: 16px;
  font-weight: 600;
  font-stretch: semi-condensed;
  margin-right: 14px;
}
.add-task-modal form .form-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.add-task-modal form .form-group input {
  height: 35px;
  width: 190px;
  border: none;
  border-radius: 6px;
  font-family: "DynaPuff", "Arial", sans-serif;
  font-weight: bold;
  color: #e5668c;
  text-align: center;
}
.add-task-modal form .form-group input::-moz-placeholder {
  font-family: "DynaPuff", "Arial", sans-serif;
  font-weight: bold;
  color: #e5668c;
  text-align: center;
  opacity: 50%;
}
.add-task-modal form .form-group input::placeholder {
  font-family: "DynaPuff", "Arial", sans-serif;
  font-weight: bold;
  color: #e5668c;
  text-align: center;
  opacity: 50%;
}
.add-task-modal form .form-group input:focus-visible {
  outline: 5px solid #e5668c;
}
.add-task-modal form .due-date-group {
  position: relative;
}
.add-task-modal form .due-date-group .due-date-calendar-icon {
  content: url("/nav-calendar-icon.svg");
  width: 21px;
  position: absolute;
  right: -46px;
  top: 8px;
}
.add-task-modal button {
  height: 59.78px;
  width: 100%;
  font-family: "DynaPuff", "Arial", sans-serif;
  font-weight: bold;
  color: #e30547;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  margin-top: 152px;
}
.add-task-modal button:hover {
  color: white;
  background-color: #e30547;
  cursor: pointer;
  outline: 6px solid #e5668c;
}
.add-task-modal .tag-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 35px;
}

.modal-slide-desktop {
  transition: all cubic-bezier(0.17, 0.13, 0, 1) 500ms;
  transform: translateX(75.6vw);
}

@media screen and (max-width: 1600px) {
  .modal-slide-desktop {
    transform: translateX(67.5vw);
  }
}
@media screen and (max-width: 500px) {
  .add-task-modal-container .react-calendar-container {
    position: absolute;
    right: 59px;
    top: 540px;
    width: 314px;
    height: 261px;
  }
  .add-task-modal {
    position: absolute;
    width: 107.179vw;
    height: 70.64vh;
    background-color: #e30547;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    margin: 0 auto;
    padding-top: 75px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 0;
    filter: drop-shadow(-3px -1px 2.5px rgba(92, 4, 35, 0.4392156863));
    cursor: pointer;
    bottom: -73px;
    left: 50%;
    transform: translate(-50%, 477px);
    transition: all ease-in-out 350ms;
    display: block;
  }
  .add-task-modal-icon {
    width: 91px;
    top: -27px;
    transform: translateX(180%);
    left: 0;
  }
  .add-task-modal .form-container {
    margin: 0 0 0 20px;
  }
  .add-task-modal h2 {
    margin-bottom: 27px;
    font-size: 22px;
  }
  .add-task-modal form .due-date:after {
    right: -35px;
  }
  .add-task-modal form .form-group label {
    margin-right: 22px;
  }
  .add-task-modal form .form-group input {
    height: 28px;
    width: 173px;
  }
  .add-task-modal form .form-group input::-moz-placeholder {
    font-weight: 600;
  }
  .add-task-modal form .form-group input::placeholder {
    font-weight: 600;
  }
  .add-task-modal button {
    margin-top: 48px;
    height: 57px;
  }
  .modal-slide-mobile {
    z-index: 100;
    transition: all ease-in-out 350ms;
    transform: translate(-50%, 0px);
    display: block;
  }
}
.react-calendar-container {
  position: absolute;
  right: 95px;
  top: 440px;
  z-index: 1000;
  width: 329.84px;
  height: 273.02px;
}

.react-calendar {
  font-family: "Acumin", "Arial", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 18px 15px;
  border-radius: 20px;
  z-index: 100;
}
.react-calendar button {
  font-weight: 600;
  font-stretch: condensed;
}
.react-calendar__viewContainer {
  padding: 0 22px;
}
.react-calendar__navigation {
  width: 100%;
}
.react-calendar__navigation__label {
  font-family: "DynaPuff", Courier, monospace;
  font-size: 18px;
  font-weight: 600;
  color: #e30547;
}
.react-calendar__month-view__weekdays {
  font-weight: 200;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.702);
}
.react-calendar__tile--active {
  background: #e5668c;
}
.react-calendar__tile--now {
  background: #e30547;
  color: white;
  border-radius: 600px;
  width: 20px;
  height: 43px;
}
.react-calendar__tile--now:hover {
  background: #e5668c;
}
.react-calendar abbr {
  text-decoration: none;
}

.react-calendar-container-head {
  right: 75px;
  top: 91px;
}

@media screen and (max-width: 500px) {
  .react-calendar-container-head {
    right: 31px;
  }
}